<div class="flex flex-col items-center">
  <h2 class="font-bold text-5xl">Survey Results</h2>
  <div
    class="bg-white m-8 p-8 w-[65vw] rounded-xl"
    id="survey-chart-container"
    phx-hook="SurveyHook"
  >
    <canvas id="survey-chart"></canvas>
  </div>
</div>
