<main>
  <p class="alert alert-info text-center m-auto" role="alert" phx-no-format><%= Phoenix.Flash.get(@flash, :info) %></p>
  <p class="alert alert-danger text-center m-auto" role="alert" phx-no-format><%= Phoenix.Flash.get(@flash, :error) %></p>
  <%= @inner_content %>
</main>
